{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Cambiar Contraseña" %}{% endblock %}

{% block content %}
    <h1>{% trans "Cambiar Contraseña" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <center>
        <button type="submit" class="btn btn-primary blue" name="action">{% trans "Cambiar Contraseña" %}</button>
    	</center>
    </form>
{% endblock %}
