{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <h1><font color="blue">{% trans "Cambio de Contraseña" %}</font></h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}Te hemos enviado un e-mail. Póngase en contacto con nosotros si no lo recibe en pocos minutos.{% endblocktrans %}</p>

    <div class="center"><a href="{% url 'home.index' %}" class="btn btn-primary blue"> Volver Al Inicio&raquo;</a></div>

{% endblock %}
