{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container">
    <h1><font color="blue">Recuperar contraseña</font></h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Olvidó su contraseña? por favor ingrese el e-mail con el que se registró y le enviaremos un correo para restablecerla." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <center>
        <input type="submit" class="btn btn-primary blue" value="{% trans 'Enviar' %}" />
      </center>
    </form>
<center>
    <p>{% blocktrans %}Si tiene algún problema con su contraseña <a href="{{ home.contact }}">contactenos</a></a>{% endblocktrans %}</p>
    </center>
{% endblock %}
</div>
